@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

body{
    background-image:url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-color:rgba(60, 60, 60,);
    color:white;
    background-attachment: fixed;
    background-position: center center;
    font-family: 'Open Sans', sans-serif;

}

header{
    color:white;
    margin: 0 0 0px 0;
}

li a{
    color:white;
}

li a:hover{
    color:white;
    font-weight: bold;
}
ul li {
    display: inline-flex;
}
ul li a {
    padding:15px;
    color:white;
}

li a:hover{
    color:white;
    font-weight: bold;
}

ul {
    text-align: center;
    padding: 80px 0px 0 0;
}
.titre{
    margin:80px 0px 80px 0px;
}



{
    opacity: 0.5;
}

hr {
    border-color: white;
    background-color: white;
    width: 1400px;


}

footer{
    margin: auto;
    width:1400px;
    position:center;
    color:white;
    
}

hr{
    border-color: pink;
    width :1250px;
    border-width: 10px;
}
.paragraphe {
    
    color: white;
    margin-right: 550px;
    margin-left: 470px;
    padding-top: 50px;
    

}

h1 {
    text-align: center;
    padding: 0px 0 50px 0;
}
h2 {
    text-align: center;
    margin:40px 0px 40px 0px;
}

h5{
    font-weight:bold;
}

.textnews{
    color:grey;
}

.textnews1{
    color:grey;
    font-weight: bold;
}

.photobio {
    margin-left: 500px;
}

i {
    color: white;
    padding: 10px;

}

.container.para{
    background-color: black;
    background-size: cover;
    max-width : 2000px;
    color:white;
    margin:0;
    
}

header{
    background-color: black;
    opacity: 0.7;
    padding-bottom: 30px;
}
