@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

body
{
background-image:url(../images/background.jpg);
background-repeat: no-repeat;
background-size:cover;
background-color:rgba(60, 60, 60,);
color:white;
font-family: 'Open Sans', sans-serif;
}

.bg
{
background-color: rgba(0, 0, 0, 0.5)
}

h1
{
padding: 0px 0 50px 0;
}

h5{
    font-weight:bold;
}

h2{
    margin:40px 0px 40px 0px;
}

header
{
color:white;
margin: 0 0 80px 0;
}



header nav ul
{
padding: 50px 0px 0 0;
}


/* lien chansons */
li{
    list-style: none;
}
li a
{
color:white;
text-decoration: none;  /*ne fonctionne pas*/
}

li a:hover
{
color:white;
font-weight: bold;
text-decoration: none;

}

.titre
{
margin:80px 0px 80px 0px;
}

.bcontainer /* body container */
{
display: flex;
margin:auto;
width : 1400px;
color:white;
}

#partgauche img /* div de gauche avec image et liste */
{
margin: 0 25px 30px 0;
}

#partgauche li
{

margin: 20px 0 20px 25%;
}

#partdroite h3  /*div de droite avec h3 p et liste chiffré*/
{
margin: 0 0px 15px 20px;
}

#release
{
margin: 0 0 0px 20px;

}

.deco /*il s'agit du -:-- apres les chansons; */
{
text-align: right;
margin:-30px 0 0px 0;
}

footer
{
margin: auto;
width:1400px;
position:center;
color:white;
}

.textnews{
    color:grey;
}

footer hr
{
margin: 50px 0 50px 0;
}

.fond{
    opacity: 0.5;
}
.row
{

}

.reseau_sociaux  /*la div regroupant ce qui a en bas du hr footer*/
{
text-align: center;
padding: 0 0 20px 0;
}

i /*les icônes*/
{
color: white;
padding: 0 15px 0 15px;
}

ol hr  /*taille du hr dans les liste chiffrés*/
{
width: 1030px;
}

hr
{
border-color: black;
width :1400px;
}

button
{
background-color: Transparent;
background-repeat:no-repeat;
border: none;
overflow: hidden;
outline:none;
}

.textnews{
    color:grey;
}

.textnews1{
    color:grey;
    font-weight: bold;
}


